body{
  background-image: url('IMG_3190.JPG');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: 100% 100%;

  text-align: center;
}

h3{
  margin-top: 8vh;
}

ul,ol {
  list-style-type: none;
}

ul.index{
  margin-top: 3vh;
}

.points{
  text-align: left;
  max-width: 300px;
  margin: auto;
  list-style-type: initial;
  list-style-position: inside;
}

img.nextToText{
  width: 20vh;
  position: absolute;
  right: 27%;
  top: 12%;
  z-index: -1;
}

img{
  padding: 25px;
}

p{
  margin: auto;
  max-width: 750px;
}
