body{
  background-image: url('IMG_3190.JPG');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: 100% 100%;

  text-align: center;
}

h3{
  width: 350px;
  margin: auto;
  margin-top: 8vh;
}

ul,ol {
  list-style-type: none;
}

ul.index{
  margin-top: 3vh;
}

.points{
  text-align: left;
  max-width: 300px;
  margin: auto;
  list-style-type: initial;
  list-style-position: inside;
}

img.nextToText{
  float: right;
  width: 150px;
  position: relative;
  right: 18%;
  bottom: 140px;
  z-index: -1;
}

img{
  padding: 25px;
}

p{
  margin: auto;
  max-width: 750px;
}

@media only screen and (max-width: 1200px) {
  img.nextToText {
    float: none;
    right: 0;
    bottom: 0;
  }
}

@media only screen and (max-width: 600px) {
  body{
    background-color: #e3b798;
    background-image: none;
  }
}
